body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.app .main {
  padding-top: 60px;
  padding-bottom: 95px;
}

.app .container {
  width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.app .image {
  width: 100%;
  height: 100%;
}

.el-card .image {
  width: 200px;
  padding-left: 20px;
  height: 200px;
}

.space {
  padding: 40px;
}

.logo {
  width: 50px;
}

.menu {
  padding-left: 5% !important;
}

.logo_text {
  text-decoration: none;
}

.logo_text span {
  padding-left: 10px;
  color: #000;
  font-weight: bold;
  font-size: 24px;
}

.currency {
  float: right !important;
}

.menu_history {
  float: right !important;
}

.cart {
  float: right !important;
  margin-right: 5% !important;
}

.cart_img {
  width: 50px;
}

.cart_badge .el-badge__content {
  top: 18px !important;
  right: 18px !important;
}

.box-card {
    margin-top: 40px;
}
.el-card__body {
  padding: 0 !important;
}

.product_cart_inner {
  padding: 10px;
}

.oder_card {
  padding: 20px;
}

.price {
  margin-left: 20px;
}

.medium {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-error {
  color: red;
  padding-left: 4px;
}

.total_price {
  padding: 20px;
}